<!DOCTYPE html>
<html>
<head>

<style> 
		h1 {
			text-align: center;
			color: #F00;
			font-family: chalkduster;
		}
		.list {
			padding: 0px 0px 10px;
			font-size: 20px;
			color: tan;
			font-family: helvetica;
		}
		body {
			text-align: center;
			margin: 30px;
			padding: 0px 10px 5px;
		}

		.hyper {
			color: green;
			font-family: helvetica;
		}
		
		p {
			text-align: justify;
			color: #195019;
			font-family: helvetica;
			font-size: 18px;
		}
		
		ul {
			padding: 10px 10px 10px 20px;
			list-style-type: none;
		}
		
		li {
			border-style: outset;
			background-color: #195019;
			border-width: thick;
			text-align: center;
			width: 200px;
			margin: auto;
		}
		input[type="text"] {
			border: 1px solid;
			height: 30px;
			width: 40%;
			font-size: 25px;
			padding: 8px;
		}
		input[type="submit"] {
			background-color: #195019;
			color: tan; 
			font-weight: bold;
			font-size: 20px;
			border: 1px tan solid;
		}

	</style>
</head>

<body>

	<table>
		<td><a class="hyper" href="/categories/new"> Create a new Category</a></td>
	</table>


	
	<h1>Forum</h1>
	<form  method="POST" action="/search-result">
		<input type="text" name="search" placeholder="search" required>  
		<input type="submit" value="submit">
	</form></br></br>
	<p>
				
	<ul>
		<%forum.forEach(function(category) { %> 
			<li style="padding:4px;">
				<a class="list" href="/forum/<%= category.id %>/page/1"><%= category.title %></a>	
			</li>
		<% }); %>
	</ul>
	</p>	
</body>
</html>