<!DOCTYPE html>
<html>
<head>
<style> 
		h1 {
			text-align: center;
			color: #F00;
			font-family: chalkduster;
		}
		.list {
			padding: 0px 0px 10px;
			font-size: 20px;
			color: tan;
		}
		body {
			text-align: left;
			background-color: #E0F8FF;
			margin: 30px;
			padding: 0px 10px 5px;
		}

		.hyper {
			color: green;
		}
		
		p {
			text-align: justify;
			color: blue;
			font-family: times new roman;
			font-size: 18px;
		}
		
		ul {
			padding: 10px 10px 10px 20px;
			list-style-type: none;

		}
		li {
			border-style: outset;
			background-color: #195019;
			border-width: thick;
			text-align: center;
			width: 200px;
			margin: auto;
		}
		table {
			width: 2000px;
		}



	</style>
</head>
<body>
<table>
<td><a class="hyper" href="/categories/new"> Create a new Category</a></td>
<td><form method="POST" action="http://localhost:3000/index">
		<input type="text" name="search" placeholder="search" required>  
		<input type="submit" value="submit" /></td>
</table>
	<h1>Forum</h1>
	<p>
				
	<ul>
		<%forum.forEach(function(obj) { %> 
			<li style="padding:4px;">
				<a class="list" href="/forum/<%= obj.id %>"><%= obj.title %> </a>	
			</li>
		<% }); %>
	</ul>
	</p>	
</body>
</html>