<!DOCTYPE html>
<html>
<head>
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" /> -->
<!-- <script src="path/to/select2.min.js"></script> -->
</head>
<body>
	<h1>Welcome to the Forum</h1>
	<p>
				<p> 
		<form method="POST" action="http://localhost:3000/index">
		<input type="text" name="search" placeholder="search" required>  
		<input type="submit" value="submit" />
	<ul>
		<%forum.forEach(function(obj) { %> 
			<li style="padding:4px;">
				<%= obj.id %> <a href="/forum/<%= obj.id %>"><%= obj.title %> </a>	
			</li>
		<% }); %>
	</ul>
	</p>	
	<a href="/catagories/new"> Create a new Catagory</a>
</body>
</html>