<!DOCTYPE html>
<head>
</head>
<body>
	<h1>Create New Catagory</h1>
	<form action ="/catagories" method="POST">
		<input type="text" name="title" placeholder="title" required><br>
		<input type="text" name="author" placeholder="author"><br>
		<textarea rows="15" cols="130" name="body" placeholder="body"></textarea><br> 
		<input type="text" name="image" placeholder="url">
		<button>Upvote<button><button>Downvote</button></br>
		<button>Submit</button>
			
	</form><br>
	<a href="/">Back to Forum</a>
</body>
</html>