<!DOCTYPE html>
<head>
</head>
<body>
	<h1>Create New Post</h1>
	<form action ="/catagory/<%= catagory_id %>/post/savenewpost" method="POST">
		<input type="date" name="date" placeholder="date"></br> 
		<input type="text" name="title" placeholder="title"><br>
		<textarea rows="15" cols="130" name="body" placeholder="body"></textarea><br> 
		<input type="text" name="image" placeholder="url" >
		
		<br/>
		<input type="submit" value="Save New Post" style="border:2px green solid;"/>
	</form><br>
	<a href="/">Back to Forum</a>
</body>
</html>