<!DOCTYPE html>
<head>
	<style>
		input[type="text"].text {
			width: 400px;
			font-size: 20px;
		}
		input[type="text"].image {
			width: 400px;
			font-size: 13px;
		}
		input[type="date"] {
			font-size: 20px;
		}

		textarea {
			font-size: 12px;
		}
		h1 {
			text-align: center;
			color: #F00;
			font-family: chalkduster;
		}
		body {
			text-align: justify;
			background-color: #E0F8FF;
			margin: 30px;
			padding: 0px 10px 5px;
		}
		a {
			color: green;
		}
		p {
			text-align: justify;
			color: blue;
			font-family: times new roman;
			font-size: 18px;
		}
		img {
			width: 300px;
			height: 200px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

	</style>

</head>
<body>
<a href="/">Back to Forum</a></br>
	<h1>Create a new Category</h1>
	<form action ="/categories" method="POST">
		<p><input class="text" type="text" name="title" placeholder="title" required><br></p>

		<p><textarea rows="15" cols="100" name="body" placeholder="body"></textarea><br></p>
		<input class="image" type="text" name="image" placeholder="url">
		
		<input type="submit" value="Save New Category" style="border:2px green solid;"/>
			
	</form><br>
	
</body>
</html>